.git
.gitignore
**/.env
**/.env.*
!**/.env.example
**/__pycache__
**/*.py[cod]
**/.venv
**/venv
**/node_modules
**/dist
**/.pytest_cache
**/.mypy_cache
**/.DS_Store
**/*.log
**/tsconfig.tsbuildinfo
**/tsconfig.node.tsbuildinfo
mini-app/vite.config.js
mini-app/vite.config.d.ts
README.md
docker-compose.yml
render.yaml
